body {
    margin: 0;
    background: #fdfdfd;
}

a:hover {
    text-decoration: none;
}

.banner {
    background: url(../img/header-bg.png);
    background-size: 100%;
    width: 100%;
    height: 800px;
}

.nav {
    background: #2e2356;
    height: 80px;
    color: rgba(255,255,255,0.7);
}

.nav li a {
    color: inherit;
    text-decoration: none;
}

.nav li {
    color: rgba(255,255,255,0.7);
    transition: all 0.2s linear;
    display: inline-block;
    width: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 12px;
}

.nav ul {
    margin-top: 0;
    margin-bottom: 0;
}

.nav li.active a {
    color: rgba(255,255,255,0.9);
}

.nav-right {
    float: right;

}

.nav-highlight {
    border-radius: 15px 0 15px 15px;
    background: -webkit-linear-gradient(left top,#36c6ff,#be69ff);
    line-height: 40px!important;
    height: 40px!important;
    margin: 20px 0;
    color: #fff!important;
    margin-left: 15px;
    width: 100px!important;
}

.nav-highlight:hover {
    box-shadow: 0 0 15px #d194ff;
}

.logo {
    height: 50px;
    margin: 15px 0;
}

.slogen {
    text-align: center;
    color: rgba(255,255,255,0.9);
}

.slogen-subtitle {
    text-align: center;
    margin-left: 25%;
    width: 50%;
    font-size: 16px;
    color: rgba(255,255,255,0.9);
    margin-top: 50px;
}

.banner-button-outer {
    text-align: center;
    margin-top: 80px;
}

.banner-button {
    border-radius: 15px 0 15px 15px;
    background: #fff;
    line-height: 40px!important;
    height: 40px!important;
    margin: 20px 0;
    color: #000!important;
    margin: 0 15px;
    width: 110px!important;
    display: inline-block;
    font-weight: lighter;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.banner-button.highlight {
    background: #74eeff;
}

@media (max-width: 992px) {
    .nav li {
        width: 65px;
    }

    .slogen-subtitle {
        font-size: 14px;
        margin-top: 35px;
    }

    .banner-button-outer {
        margin-top: 40px;
    }
}

@media (max-width: 721px) {
    .nav li {
        display: none;
    }

    .logo {
        display: inline-block;
    }

    .nav {
        text-align: center;
    }
    
    .slogen-subtitle {
        font-size: 10px;
        margin-top: 15px;
    }

    .banner-button-outer {
        margin-top: 22px;
    }

    .banner-button {
        zoom: 0.6;
    }
}

.split {
    width: 0px;
    height: 0px;
    border-color: #fdfdfd transparent;
    border-width: 0 0 70px 700px;
    border-style: solid;
    margin-top: -70px;
}

.products {
    padding-bottom: 130px;
}

.circle-right {
    display: inline-block;
    vertical-align: top;
}

.circle-outer {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    display: inline-block;
}

.circle-inner {
    margin: 20px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
    background: #616161;
}

.circle-outer.cyan {
    background: -webkit-linear-gradient(top,#61fefa,#04ebe4);
}

.circle-outer.blue {
    background: -webkit-linear-gradient(top,#b2c1ff,#509bff);
}

.circle-outer.purple {
    background: -webkit-linear-gradient(top,#d495f5,#6704ff);
}

.circle-outer.pink {
    background: -webkit-linear-gradient(top,#fe94f2,#ff3bf1);
}

.circle-width-dot {
    width: 50%;
}

.circle-icon {
    width: 30px;
    height: 30px;
    margin: 15px;
}

.circle-item {
    padding: 30px 0 30px 85px;
}

.circle-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    padding: 15px;
}

.circle-text-title {
    font-weight: bold;
    line-height: 35px;
    font-size: 18px;
}

.circle-text-subtitle {
    font-weight: lighter;
    color: #999;
    line-height: 35px;
    font-size: 18px;
}

.hotspot {
    border-radius: 50%;
    background: -webkit-linear-gradient(top,#36c6ff,#be69ff);
    position: absolute;
    opacity: 0.5;
}

.hotspot-line {
    height: 3px;
    background: -webkit-linear-gradient(left,#36c6ff,#be69ff);
    opacity: 0.5;
    position: absolute;
}

.case {
    background: #30245b;
    padding: 30px;
    padding-bottom: 150px;
}

.case-switch-outer {
    text-align: center;
    padding: 10px 0;
}

.case-switch-non-active {
    margin: 0 10px;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    background: rgba(255,255,255,0.25);
}

.case-switch-active {
    margin: 0 10px;
    width: 48px;
    height: 16px;
    display: inline-block;
    border-radius: 8px;
    background: rgba(255,255,255,0.65);
}

.case-main-img-outer {
    text-align: center;
}

.case-main-img {
    width: 70%;
}

.case-main-text {
    color: #fff;
}

.case-main {
    margin: 30px 0;
}

.case-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
}

.case-subtitle {
    color: rgba(255,255,255,0.5);
    font-size: 16px;
    line-height: 40px;
}

.case-features {
    margin-top: 15px;
    color: rgba(255,255,255,0.8);
    padding-left: 15px;
    line-height: 36px;
    font-size: 14px;
}

.case2 {
    border-radius: 15px;
    background: #fff;
    margin-top: -100px;
    width: 70%;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);
    padding: 0;
}

.case2-texture {
    width: 50%;
    background-color: #8a70ff;
    background-image: url(../img/texture.png);
    background-size: 100%;
    background-position: center;
    height: 400px;
    border-radius: 15px 0 0 15px;
    float: left;
}

.case2-texture-split {
    float: left;
    width: 0px;
    height: 0px;
    border-color: #fff transparent;
    border-width: 0 0 400px 150px;
    border-style: solid;
    margin-left: -150px;
}

.clear {
    clear: both;
}

.case2-text {
    padding: 60px 30px 40px 30px;
    float: left;
    height: 400px;
    width: 50%;
}

.case2-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}

.case2-features {
    margin-top: 15px;
    color: rgba(255,255,255,0.8);
    padding-left: 15px;
    line-height: 36px;
    font-size: 14px;
    color: #5f6aff;
}

.case2-features span {
    color: #888;
}

.about {
    margin-top: 60px;
}

.about-title {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-header {
    height: 125px;
    border-radius: 15px 15px 0 0;
}

.about-header.cyan {
    background: -webkit-linear-gradient(left top,#82fff3,#30cdff);
}

.about-header.blue {
    background: -webkit-linear-gradient(left top,#76dbff,#5891ef);
}

.about-header.purple {
    background: -webkit-linear-gradient(left top,#7d9eff,#e17fff);
}

.about-position {
    width: 50%;
    vertical-align: top;
    float: left;
    font-weight: bold;
    color: #fff;
}

.about-photo {
    vertical-align: top;
    margin-top: -31px;
    margin-right: 15px;
    float: right;
    height: 156px;
}

.about-outer {
    width: 70%;
    margin-bottom: 30px;
}

.about-inner {
    margin-left: -45px;
    margin-right: -45px;
}

.about-detail {
    background: #fff;
    border-radius: 0 0 15px 15px;
    min-height: 380px;
}

.about-position {
    margin-top: -40px;
    color: #fff;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    padding-left: 15px;
    font-size: 18px;
}

.about-card {
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);
    padding: 0;
    margin: 0 15px;
}

.about-detail {
    padding: 15px;
}

.about-achivements {
    margin-top: 15px;
    color: rgba(255,255,255,0.8);
    padding-left: 15px;
    line-height: 36px;
    font-size: 12px;
    color: #0681ff;
}

.about-achivements span {
    color: #333;
}

.about-name {
    font-weight: bold;
    color: #0681ff;
}

.join {
    width: 70%;
    padding: 0;
}

.join-title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
}

.join-bg {
    background: #30245b;
}

.join-card {
    background: #fff;
    border-radius: 15px;
    padding: 30px;
    margin-top: -80px;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.join-job-title {
    color: #2fb7ff;
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;
}

.join-job-detail {
    color: #999;
    font-size: 12px;
    line-height: 24px;
}

.join-slogen {
    text-align: center;
    color: #fdfdfd;
    font-weight: lighter;
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.join-slogen .quote {
    font-size: 50px;
}

.join-slogen-author {
    text-align: right;
}

.footer {
    padding: 60px;
}

.footer-links {
    margin-top: 80px;
    text-align: center;
}

.footer-links img {
    width: 60px;
    height: 60px;
    margin: 0 15px;
}

.footer-copyright {
    color: #999;
    margin-top: 45px;
    text-align: center;
}